<title>
Tiny App!
</title>

<% if(username) { %>
  Welcome <%= username %>
  <form method="POST" action="/logout">
    <input type="Submit" value="Log-out">
  </form>

<% } else { %>

  <form method="POST" action=/urls>
      <a href="<%= `/login` %>"> Sign In </a>
  </form>
  <form method="POST" action=/register>
      <a href="<%= `/register` %>"> Register here </a>

<% } %>
