<title>Tiny App!</title>


<ul>
  <b style="font-size: 36px;"> Sign up here! </b>
  <form method="POST" action=/register>
  <p>
    E-mail: <p>
      <input type="email" name="email" style="width: 300px">
            </p>
  </p>
    Password: <p>
      <input type="password" name="password" style="width: 300px">
              </p>
  <p>
      <input type="submit" value="Register!">
</ul>
  </form>


