<!DOCTYPE html>
<html lang="en">
<head>
  <title> <%= include('./partials/_header') %> </title>
</head>
<body>
  <ul>
    <% for(shortURL in urls) { %>
      <p><%= shortURL + " --> " + urls[shortURL] %></p>
      <form method="POST" action="/urls/:id/delete"</form>
        <strong for="longURL">Would you like to Delete?:</strong>
        <input type="submit" value="Delete">
    <% } %>

  </ul>
</form>
</body>
</html>
