  <b style="font-size: 36px;"> Log in here! </b>


  <form method="POST" action="/login">
    Email: <br>
      <input type="email" name="email">
    Password: <br>
      <input type="password" name="password">
      <br>
      <input type="Submit" value="Sign In">
  </form>